<div class="hero-unit">
	<h1>欢迎来的 Microblog</h1>
	<p>Microblog 是一个基于 Node.js 的微博系统。</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登录</a>
		<a class="btn btn-large" href="/reg">立即注册</a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>Carbo 说</h2>
		<p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</P>
	</div>
	<div class="span4">
		<h2>BYVoid 说</h2>
		<p>
		Open Chinese Convert(OpenCC)是一个开源的中文简繁转换项目, 致力于制作高质量的基于统计预料的简繁转换词库。 还提供函数库(libopencc)、命令行简繁转换工具、人工校对工具、词典生成程序、 在线转换服务及图形用户界面。
		</p>
	</div>
	<div class="span4">
		<h2>大师 说</h2>
		<p>说不得。Open Chinese Convert(OpenCC)是一个开源的中文简繁转换项目, 致力于制作高质量的基于统计预料的简繁转换词库。 还提供函数库(libopencc)、命令行简繁转换工具、人工校对工具、词典生成程序、 在线转换服务及图形用户界面。</p>
	</div>
	<div class="span4">
		<h2>bbc 说</h2>
		<p>gogogo</p>
	</div>
	<div class="span4">
		<h2>大师 说</h2>
		<p>说不得</p>
	</div>
</div>



